
h1,
h2,
h3{
	font-family: $mainFont;
	font-size: $textMd;
	color:$keyColor;
	margin: 10px 20px;
	font-weight: $bold;

}


h4 {
	font-size: $textLg;
	font-weight: $regular;
    font-family: $secondaryFont;
    color: $secondaryColor;
}

h5{
	font-size: $textMd;
	font-weight: $light;
    font-family: $mainFont;
    color: $white;
}

h6{
	color: $white;
	font-size: $textXl;
	font-weight: $bold;
    font-family: $mainFont;
    padding-right: 50px;
    padding-left: 50px;

}

p{
	margin: 10px 20px;
	font-family: $mainFont;
	line-height: 1.4em;
	font-size: $textMd;
	color:$keyColor;
}


a{
	margin: 10px 20px;
	color:$keyColor;
	font-size: $textMd;
	text-decoration: none;
	font-family: $mainFont;
}

//backgrounds 
.bgLight{
	background-color:$mainColor;
}

.bgDark{
	background-color:$black;
}

.btnXl{
	width:50%;
	height: 30px;
	background-color: $white;
	color: $keyColor;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	margin-left: 50px;
	font-size: 2rem;
	/****display flex****/
	display: flex;
	justify-content: center;
	align-items: center;
}
	