@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Pacifico&display=swap');


$mainFont: 'Montserrat', sans-serif;
$secondaryFont:'Pacifico', cursive;


$textSm:.8em;
$textMd:1em;
$textLg:1.5em;
$textXl:2em;
$textXXl:2.5;

$bold:600;
$regular:400;
$light:300;

