<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-------------Mi css------------------->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">

  </head>
  <body>
    <!------------inicia nav--------------->
<nav class="navbar navbar-expand-lg navbar-light bg-nav" id="botonera">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
    <a href="../index.html">
      <img src="../img/logo_sugar.png" alt="logo de Sugar Rush Store">
      
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="../views/nosotros.html"> <h4>Nosotros</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/snacks.html"> <h4>Snacks</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/bebidas.html"><h4>Bebidas </h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/promociones.html"><h4>Promociones</h4> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/contacto.html"> <h4>Contacto</h4> </a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>   
     <!------------end nav--------------->
    <!--------inicia contacto--->

    <section class="py-3">
    <div class="container-fluid bg-blue">
    <div class="row">
    <h2 class="text-start">Contáctanos</h2>
    <article class="col-md-6 col-lg-6">
     <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Verificado</label>
  </div>

  <div class="mb-5">
    <label for="exampleInputText" class="form-label">Mensaje</label>
    <input type="text" class="form-control" id="exampleInputText">
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</article>

<article class="col-sm-12 col-md-6 col-lg-6 ">
<img class="img-contacto" src="../img/head.png" class="d-block w-100 img-rounded">
</article>

</div>
</div>
</section>
 <footer class="bg-pink py-3 text-center
text-footer">
<h5>Siguenos en nuestras redes sociales</h5> 
<img src="../img/logo_insta.png"> 
<img src="../img/logo_facebook.png">
</footer>

    <script src="js/bootstrap.min.js"></script>
  </body>
</html>